<!DOCTYPE html>
<html>
<head>
<!--https://closure-compiler.appspot.com/home-->
<title>ships</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="/static/scripts/socket.io.js"></script>
<meta name="viewport" />
<script>
    const ipadress = location.origin;
</script>

<script defer src="/static/scripts/renderships.js"></script>
<link rel="stylesheet" href="/static/css/ships.css">
</head>


<body class='noBorder'>
<div id="settings">
<button id = "startbutton" onclick='startGame();'>Start!</button>
<br>
<p>Username</p><input id='usernamebox' type="text">

</div>
<canvas hidden id='gamearea' onclick='gamearea.listeneron();fullscreen();' ></canvas>
</div>
<img id="ships" src="/static/kevinship.png" width="220" height="277" hidden>
<img id="fuel" src="/static/fuel.jpg" width="220" height="277" hidden>
<img id="client" src="/static/ship.png" width="220" height="277" hidden>
<img id="uparrow" src="/static/uparrow.png" width="220" height="277" hidden>
<img id="shootimg" src="/static/shootbutton.png" width="220" height="277" hidden>
<img id="background" src="/static/slither.png" hidden>
<img id="wall" src="/static/black.png" width="220" height="277" hidden>
<img id="bullet" src="/static/realbullet.png" width="220" height="277" hidden>
</body>
</html>